/Users/macbookpro/Desktop/C# Lessons/.vscode
/Users/macbookpro/Desktop/C# Lessons/C# Lessons.csproj
/Users/macbookpro/Desktop/C# Lessons/bin
/Users/macbookpro/Desktop/C# Lessons/obj
/Users/macbookpro/Desktop/C# Lessons/C# Lessons.csproj
/Users/macbookpro/Desktop/C# Lessons/Program.cs
/Users/macbookpro/Desktop/C# Lessons/Example001_HelloConsole/obj
/Users/macbookpro/Desktop/C# Lessons/Example001_HelloConsole/Example001_HelloConsole.csproj
/Users/macbookpro/Desktop/C# Lessons/Example002_ConditionIfElse/bin
/Users/macbookpro/Desktop/C# Lessons/Example002_ConditionIfElse/obj
/Users/macbookpro/Desktop/C# Lessons/Example002_ConditionIfElse/IExample002_ConditionIfElse.csproj
/Users/macbookpro/Desktop/C# Lessons/Example003_Base/bin
/Users/macbookpro/Desktop/C# Lessons/Example003_Base/obj
/Users/macbookpro/Desktop/C# Lessons/Example003_Base/Example003_Base.csproj